/* Footer styles */
footer {
  background-color: #fefefe;
  color: #8e8e8e;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

/* Footer icon styles */
.social-media-flex-container {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  gap: 5px;
}

.social-media-flex-container img {
  width: 35px;
  height: auto;
}
