/* Header styles */
.header {
  width: 100%;
}
.header img {
  width: 100%; /* Set width to 100% of parent container */
}

/* Skill title styles */
.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-top: 40px;
}

.contact-title p {
  color: #8e8e8e;
  max-width: 500px;
}

/* Skill box styles */
.contact-flex-container {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.contact-flex-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  min-width: 300px;
  background-color: #fafafa;
  padding: 40px;
  padding-bottom: 0px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px #00000014;
}

.contact-flex-container-text p {
  color: #8e8e8e;
}

.contact-flex-container-link p {
  text-align: center;
  width: 300px;
  height: 50px;
  color: #a6a6a6;
  background-color: #f4f4f4;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding-top: 15px;
}

.arrow {
  border: solid #a6a6a6;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 1.1px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Text box styles */
.text-flex-container {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

/* Media queries */
@media screen and (max-width: 780px) {
  /* Contact box styles */
  .contact-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  /* Text box styles */
  .text-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
