/* Info box styles */
.info-flex-container {
  display: flex;
  background-color: #fafafa;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 60px;
}

.info-flex-container-text p {
  color: #8e8e8e;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Info box button styles */
.info-flex-container button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #fefefe;
  background: #221e2c;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: '';
  background: linear-gradient(45deg, #ff00c8, #002bff, #7a00ff, #ff00c8);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #221e2c;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Static box styles */
.static-flex-container {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.static-flex-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Skill title styles */
.skill-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-top: 20px;
}

.skill-title p {
  color: #8e8e8e;
  max-width: 500px;
}

/* Skill box styles */
.skill-flex-container {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.skill-flex-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  min-width: 300px;
  background-color: #fafafa;
  padding: 40px;
  border-radius: 18px;

  box-shadow: 2px 4px 12px #00000014;
}

.skill-flex-container-text p {
  color: #8e8e8e;
}

/* Skill box dot styles */
.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8e8e8;
}

.dot img {
  width: 30px;
  height: auto;
}

/* Media queries */
@media screen and (max-width: 780px) {
  /* Info box styles */
  .info-flex-container {
    display: flex;
    background-color: #fafafa;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .info-flex-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  /* Static box styles */
  .static-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  /* Skill title styles */
  .skill-title p {
    max-width: 350px;
    min-width: 300px;
  }

  /* Skill box styles */
  .skill-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
