/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefefe;
}

/* Header styles */
header {
  color: #221e2c;
}

/* Main content styles */
main {
  color: #221e2c;
}

/* Info box styles */
.info-flex-container {
  display: flex;
  background-color: #fafafa;
  flex-direction: horizontal;
  justify-content: center;
  gap: 30px;
}

/* media queries */

@media screen and (max-width: 780px) {
  .info-flex-container {
    display: flex;
    background-color: #fafafa;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    gap: 30px;
  }
}
