/* Global styles */
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefefe;
}

/* Header styles */
header {
  color: #221e2c;
}

/* Main content styles */
main {
  color: #221e2c;
}

/* Footer styles */
footer {
  background-color: #fefefe;
  color: #8e8e8e;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}
