.marqueeContainer {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(
    90deg,
    #885df1 0%,
    #f65282 100%
  ); /* Change to your desired background color */
  white-space: nowrap;
  box-sizing: border-box;
  padding: 10px 0; /* Adjust the top and bottom padding as needed */
}

.marqueeContent {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  font-style: italic; /* Italicize for cursive effect */
  font-weight: bold; /* Making the text bold */
  color: #f4f4f4;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
